:root {
  --nodeFontSize: 18px;
  --nodeLetterSpacing: calc(var(--nodeFontSize) / 5 );
  --nodeFontWeight: 300;
}

.vertical-center {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
}

.node-outer-circle,
.node-inner-circle {
  box-sizing: border-box;

  border: 2px solid $flatUIWhite;
  border-radius: 100%;
}

.node-outer-circle {
  float: left;

  width: 300px;
  height: 300px;
  margin: 0 50px 0 0;
}

.node-inner-circle {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.node-inner-circle-text {
  font-size: var(--nodeFontSize);
  font-weight: var(--nodeFontWeight);

  width: 200px;
  margin: 0 15px;
  padding: 10px; /* for better target acquisition */

  cursor: pointer;
  text-align: center;
  letter-spacing: var(--nodeLetterSpacing);
  text-transform: uppercase;
}
